<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Este proyecto te permite tener una pagina
     de inicio personalizada con una frase motivacional automatica. Tambien podras añadir tu meta diaria">
     <link rel="stylesheet" href="./styles/main.css">
     <!-- google font -->
      <link href="https://fonts.googleapis.com/css?family={{fontLink}}:400,700&display=swap" rel="stylesheet">
    <title>My HomePage</title>
  </head>
  <body style="font-family:'{{googleFont}}', sans-serif">
{{{body}}}
  </body>
</html>
