
  <div class="todo-box">
    <input id="todo-input" type="text" name="todo" placeholder="Añade una tarea">
    <ul class="todo-list">
      <li>
        <a>Pasear al perro</a>
      </li>
      <li>
        <a>Pasear al perro</a>
      </li>
      <li>
        <a>Pasear al perro</a>
      </li>
      <li>
        <a>Pasear al perro</a>
      </li>
    </ul>
  </div>

  <main>
    <div class="main-box">
      <time id="time">00:00:00</time>
      <span id="saludo">Saludos {{nombre}}</span>
      <span id="meta">¿Cual es tu meta el dia de hoy?</span>
      <input id="meta-input" type="text" name="meta">
      <span id="frase">“Change is the essence of life; be willing to surrender
      what you are for what you could become.”</span>
      <span id="autor">Anonimo</span>
    </div>
  </main>
