<div class="registration-page">
    <div class="reg-title">
        <h3>Login</h3>
        <p>Por favor Ingresa tu email y tu contrase침a</p>
    </div>
    <div style="margin-bottom: 20px"> {{msg}} </div>
    <form action="/login" method="post">
        <label style="font-weight: bold">Correo:</label>
        <input name="email" type="email" placeholder="E-mail" required>
        <label style="font-weight: bold">Contrase침a</label>
        <input name="pass" type="password" placeholder="Contrase침a" required>

        <button type="submit">Iniciar Sesi칩n</button>
    </form>
</div>
